{{#each this}}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">{{this.name}}</h1>
                    <p class="card-text"><b>Capital: </b>{{this.capital}}</p>
                    <p class="card-text"><b>Population:
                        </b>{{this.population}}</p>
                    <p class="card-text"><b>Languages:</b></p>

                    <ul>
                        {{#each this.languages}}
                            <li>{{name}}</li>
                        {{/each}}
                    </ul>

                </div>
            </div>

            <div class="col-md-4">
                <img class="flag-img" src={{this.flag}} alt={{this.name}} />
            </div>
        </div>
    </div>
{{/each}}